body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-image: linear-gradient(to right bottom, #070640, rgba(79, 97, 42, 0.5)), url(../image/banner.jpg);
   /*background-image: url("../image/banner.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.banner{
    padding-top: 10px;
    padding-bottom: 10px;
   /* background-color: #070640;
    opacity: 0.6; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > img{
    width: 10%;
    color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    /*background-color: #171651; */
}

.first, .third{
    display: flex;
    background-color: #171651; 
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 2em;
    color: #fff;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
          0 2px 2px rgba(0,0,0,0.12), 
          0 4px 4px rgba(0,0,0,0.12), 
          0 8px 8px rgba(0,0,0,0.12),
          0 16px 16px rgba(0,0,0,0.12);
}

li{
    list-style-type: none;
}

.skills{
    width: 30%;
}

.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill ion-icon{
    width: 30%;
}

#one{
    color: orangered;
}

#two{
    color: blue;
}

#three{
    color: yellow;
}

#four{
    color: lightskyblue;
}

#five{
    color: lightgreen;
}

#six{
    color: black;
}

#seven{
    color: black;
}

#eight{
    color: red;
}

.second{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 1em;
}

.education, .experience{
    display: flex;
    justify-content: center;
    width: 40%;
    flex-direction: column;
}

.experience{
    width: 50%;
}

.second h1{
    text-align: center;
}

.edu-box{
    display: flex;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    width: 100%;
    margin-top: 1em;
}

.date{
    background-color: #1b1c54;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
    color: #fff;
}

.edu-name{
    padding-left: 1em;
    padding-right: 1em;
    width: 55%;
}

.edu-name .p1{
    margin-top: -1em;
}

.edu-name .p2{
    margin-top:-9px;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

footer{
    background-color: #1b1c54;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding-bottom: 1em;
}

#contact h1{
    color: #fff;
}

.foot{
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

input, textarea{
    outline: none;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    opacity: 0.7;
}

input:hover, textarea:hover, textarea:focus, input:focus{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

::placeholder{
    text-align: center;
}

select{
    border: none;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.btn1{
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #6358CA;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

/* calculator section */
.calculator-screen {
    border: none;
    cursor: pointer;
    border-radius: 15px;
    outline: none;
    align-items: center;
    text-align: right;
    width: 97%;
    height: 60px;
    font-size: 30px;
    font-family: cursive;
    font-weight: 700;
    padding-right: 10px;
    margin-bottom: 1em;
    margin-top: 10px;
}

.calculator{
    padding: 15px;
    padding-top: 20px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px,
                      5px 5px 12px;
}

.calculator-keys {
    background-color: hsl(223, 31%, 20%);
    border-radius: 30px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button{
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 17%;
    height: 40px;
    margin: 5px;
    font-size: 17px;
    font-weight: 900;
    background-color: hsl(30, 25%, 89%);
    box-shadow: -5px -5px 12px hsl(28, 16%, 65%),
                 5px 5px 12px rgba(0,0,0,0.16);
    color: hsl(221, 14%, 31%);
}

button:hover {
    background-color: blueviolet;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
        0 2px 2px rgba(0,0,0,0.12), 
        0 4px 4px rgba(0,0,0,0.12), 
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
}

button:nth-child(4) {
    background-color: hsl(225, 21%, 49%);
    box-shadow: hsl(224, 28%, 35%);
    color: #fff;
    font-size: 13px;
}

button:nth-child(17) {
    width: 40%;
    background-color: hsl(225, 21%, 49%);
    box-shadow: hsl(224, 28%, 35%);
    color: #fff;
}

button:nth-child(18) {
    width: 40%;
    background-color: hsl(6, 63%, 50%);
    box-shadow: hsl(6, 70%, 34%);
    color: #fff;
}

/* login section */
.form{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    align-self: center;
    z-index: 2;
    margin: 0 auto;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .formcontent{
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    margin-top: 20px;
  }
  
  .form input{
    margin-left: 1em;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .formcontent label::after{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #1a237e;
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .link{
      width: 60%;
    margin-top: 1em;
    background-color: green;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .link .btn2{
    cursor: pointer;
    border: none;
    background-color: green;
    outline: none;
    text-decoration: none;
    color: white;
  }
  
  section{
    background-color: white;
    margin-top: 1em;
    margin-bottom: 2em;
    align-self: center;
    width: 60%;
  }
  
  section > p{
    text-align: center;
    font-size: 15px;
  }
  
  section > p a{
    text-decoration: none;
    color: green;
    font-size: 15px;
    text-align: center;
  }

/* mobile design */
@media screen and (max-width: 919px){

    .hideOnMobile, .header-contents{
        display: none;
    }

    header{
        height: 50px;
        display: flex;
        align-items: center;
    }

    .first, .second, .third, .projects{
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 1em;
    }

    .first{
        padding: 10px;
    }

    .first p{
        font-size: 15px;
    }

    .education, .experience, .project{
        width: 85%;
        margin: auto;
    }

    .edu-box{
        flex-direction: column;
    }

    .date{
        width: 100%;
        text-align: center;
    }

    .edu-name{
        width: 80%;
        text-align: center;
    }

    .foot{
        flex-direction: column;
    }

    form{
        width: 80%;
        margin-bottom: 2em;
    }

    nav > img{
        width: 20%;
    }

    .navbar-mobile > ion-icon{
        color: rgb(201, 139, 57);
    }

    .nav-contents{
        position: absolute;
        z-index: 9999;
        left: 2em;
        top: 3em;
        width: 70%;
        height: 250px;
        display: flex;
        padding-top: 2em;
        flex-direction: column;
        background-color: #6358CA;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    border-radius: 10px;
    }

    .nav-contents li{
        list-style-type: none;
        text-align: center;
        margin-top: 2em;
    }

    .nav-contents li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }

    .btn1{
        width: 80%;
    }
    
}

/* desktop design */
@media screen and (min-width: 920px) {

    .hideOnDesktop{
        display: none;
    }
    
     nav > img{
        width: 8%;
    }

    .navbar-desktop{
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-desktop li{
        list-style-type: none;
    }

    .navbar-desktop li a{
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        color: rgb(201, 139, 57);
        cursor: pointer;
    }
    
}